<br>
<br/>
<div class="col-md-9"> 
<div class="card">
   
    
    <div class="container" style="color: blanchedalmond;">
      <h4><b>Lagos, Nigeria</b></h4>
      <p>7, saka jojo street, victoria island, Lagos state</p>
      <p>Tel - 012706000</p>
      <p>customersupport@starlingbank.com</p>
    </div>
    <br>
    <div class="container" style="color: blanchedalmond;">
      <h4><b>Abuja, Nigeria</b></h4>
      <p>7, sani abacha road, maitama, FCT Abuja</p>
      <p>Tel - 012706000</p>
      <p>customersupport@starlingbank.com</p>
    </div>
  </div>
</div>
