

<div>
<img src="assets/img/card.jpg" alt="" width="50%">
<img src="assets/img/card.jpg" alt="" width="50%">
<p><i><b>Get details about your bank card from us today!</b></i></p>
</div>
<div class="card">
    <div class="cardContainer">
        <h4><b><p></p>Learn More...</b></h4> 
        <p style="color: black; font-size: medium;">We at starling bank help get complete details about any bank card all over the world, either in the U.S, Canada, or Nigeria starling bank is your best bet for good records about your bank cards.</p> 
      </div>
      <br>
      <div class="cardContainer">
        <h4 style="color: brown;"><span class="glyphicon glyphicon-search"></span><b>find us...</b></h4> 
        <p style="color: black; font-size: medium;">You can find us in different locations in the world, but our main office can be found in Lagos , Nigeria. </p> 
      </div>
</div>

